---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Om mig | Gustav Persson" description="Information om Gustav Persson">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Om mig"
				tagline="Tack för att du tittade in. Läs nedan för att lära dig mer om mig och min bakgrund."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.webp"
					alt="Gustav Persson på jobbet"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Bakgrund</h2>
				<div class="content">
					<p>
						Jag heter Gustav Persson och är en systemutvecklare baserad i Jönköping. Jag kommer från Norrahammar och läste en teknisk linje på Erik Dahlbergsgymnasiet där jag sedermera valde inriktningen Informations- och medieteknik. Det var under denna tid jag upptäckte programmering och insåg att det var något jag ville satsa på.
						<br><br>
						Efter att ha tagit studenten fortsatte jag min utbildning vid Tekniska Högskolan i Jönköping, där jag läste Mjukvaruutveckling och Mobila plattformar. Parallellt med mina studier tog jag också steget att bli delägare i IT-konsultföretaget Albia Sweden AB, som startades av min kompis, tillika kollega, Erik.
						<br><br>
						Genom att kombinera studierna med praktiskt arbete har jag kunnat utveckla en djup förståelse för systemutveckling. Mitt arbete på Albia har gett mig ovärderlig erfarenhet inom områden som konsultarbete, IT-support, handledning av praktikanter, vilket kompletterar mina akademiska studier på ett utmärkt sätt.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Utbildning</h2>
				<div class="content">
					<p>
						2023 - Mjukvaruuteckling och Mobila Plattformar, School of Engineering, Jönköping University
						<br><br>
						2020 - Informations- och medieteknik, Erik Dahlbergsgymnasiet
						<br><br>
						2017 - Kunskapsskolan Jönköping (Högstadie)
						<br><br>
						2014 - Norrängsskolan Huskvarna (Låg- och mellanstadie)
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
