---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Lössningarkitekt</h2>
		<p>Jag brinner för att designa robusta och skalbara lösningsarkitekturer för projekt på molnplattformar som Google Cloud och Amazon Web Services. Genom åren har jag haft nöjet att utveckla flera verksamhetskritiska molnlösningar som hjälpt mina kunder att nå sina mål.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Agil utveckling</h2>
		<p>Med en gedigen erfarenhet av att arbeta i dynamiska teammiljöer är jag väl insatt i agila metoder som Scrum. Jag värdesätter samarbete och kontinuerlig förbättring för att leverera högkvalitativa resultat.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>AI-lösningar</h2>
		<p>Genom att utnyttja kraften i AI har jag utvecklat innovativa lösningar som chattbottar, bildigenkänning och verktyg för dataanalys. Dessa teknologier bidrar till att effektivisera arbetsflöden och fatta datadrivna beslut.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
